<div class="content-background">
	<div>
		<div id="container"></div>
		<template>
			<div class="container-tag">Name:
				<span class="container-name">{{name}}</span>
			</div>
			<div class="container-tag">Review:
				<span class="review-content">{{reviewCount}}</span>
			</div>
		</template>
	</div>
</div>