{{> header/header-block}}

{{!-- <!------------ QUOTE --------> --}}
<marquee>
  &#129326
  “One cannot think well, love well, sleep well, if one has not dined well.”
  ― Virginia Woolf
  &#129319
  &nbsp&nbsp
  “If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.”
  ― J.R.R. Tolkien
  &#129314
  &nbsp&nbsp
  “After a good dinner one can forgive anybody, even one's own relations.”
  ― Oscar Wilde
  &#128567
  &nbsp&nbsp
  “There is no love sincerer than the love of food.”
  ― George Bernard Shaw
  &#127836
  &nbsp&nbsp
  “If you really want to make a friend, go to someone's house and eat... The people who give you their food give you
  their heart”
  ― Cesar Chavez
  &#127839
  &nbsp&nbsp
  “There's no better feeling in the world thana warm pizza bic on your lap”
  ― Kevin James
  &#127837
  &nbsp&nbsp
  "Chocolate comes from cocoa, whcih is a tree. That makes it a plant. Chocolate is salad"
  &#127843
  &nbsp&nbsp
  "That feeling you get in your stomach when you see food."
  &#127856
  &nbsp&nbsp
  "You can't buy happiness, but you can buy cupcakes, and that's kind of the same thing"
  &#127858
  &nbsp&nbsp
  "I am on a seafood diet. I see food and I wat it"
  &#127857
  &nbsp&nbsp
  "Seize the moment. Remember all those women on the "Titanic" who waved off the dessert cart."
  ― Erma Bombeck
  &nbsp&nbsp
  &#127849
  &nbsp&nbsp
  "Nouvelle Cuisine, roughly translated, means: I can't believe I paid ninety-six dollars and I'm still hungry."
  ― Mike Kalin
  &#127831

</marquee>
<br>

{{!-- <!----- Short Description -----> --}}
<h2 class="description">Search for some of the worst food in Sacramento</h2>

<br>

{{!-- <!-- Search Box Alternative --> --}}
<div id="cover">
  {{!-- <!-- <form method="get" action=""> --> --}}
  <div class="tb">
    <div class="td">
      <input type="text" id="search-input" placeholder="Search" name="name" required>
    </div>
    <div class="td" id="s-cover">
      {{!-- <!-------- THIS BUTTON SHOULD BE CONNECTED TO THE DATABASE ---------> --}}
      <button id="search">
        <div id="s-circle"></div>
        <span></span>
      </button>
    </div>
    {{!-- <!-- </form> --> --}}
  </div>
</div>


<<<<<<< HEAD
{{#each businesses}}
{{> businesses/business-results}}
{{/each}}
=======
<div class="content-background">

  <div>
    <div id="container"></div>

    <template>
      <div class="container-tag">Name:
        <span class="container-name">{{example}}</span>
      </div>
      <div class="container-tag">Review:
        <span class="review-content">{{example}}</span>
      </div>
    </template>

  </div>
</div>
{{> footer/footer-block}}

{{!-- <!--------------------- Start Footer ------------------------------->
<div class="footer">

  <!------------- Three column Info Footer -------------->
  <div class="footer-content">

    <!------- First Column ------>
    <div class="footer-section about">

      <p class="footer-col1">ABOUT THIS PROJECT :</p>
      <a id="popup" class="image-link"
        href="https://onedrive.live.com/embed?cid=CD3E4BBDB4A228F8&resid=CD3E4BBDB4A228F8%21114&authkey=ACtLWcEUlf4ENQY&em=2">Open
        in PopUp</a>
      <div class="footer-section about">
        <iframe
          src="https://onedrive.live.com/embed?cid=CD3E4BBDB4A228F8&resid=CD3E4BBDB4A228F8%21114&authkey=ACtLWcEUlf4ENQY&em=2"
          width="402" height="327" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <!------ Second Column ---->
    <div class="footer-section contact">
      <ul class="LinkIn">
        <img src="assets/css/LinkedIn-Logo.png" alt="LinkIn Icon" width="42" height="42">
        Follow us on LinkIn
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/melanie-mok-82747413b/" target="_blank">Melanie
            Mok</a></li>
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/carl-medina-47115767/" target="_blank">Carl Medina
          </a></li>
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/billy-bright-86180016a/" target="_blank">Billy
            Bright </a> </li>
        <!-- Waiting on Linkin  -->
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/melanie-mok-82747413b/" target="_blank">Emily
            Beutler</a> </li>
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/melanie-mok-82747413b/" target="_blank">Travis
            Rodowick</a> </li>

      </ul>
      <p class="work-quote"> Talk Nerdy to Us</p>
    </div>

    <!------ Third Column ------>
    <div class="footer-section contact-form">

      <ul class="Portfolio-Page">
        <img class="gitfolio" src="assets/css/GreyOctocat.png" alt="LinkIn Icon" width="42" height="42">
        Checkout Our Portfolio Pages
        <li> <a class="linkin-link" href="https://carllm1.github.io/Bootstrap-Portfolio/" target="_blank">Carl Medina
          </a></li>
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/melanie-mok-82747413b/" target="_blank">Emily
            Beutler</a> </li>
        <li> <a class="linkin-link" href="https://www.linkedin.com/in/melanie-mok-82747413b/" target="_blank">Travis
            Rodowick</a> </li>
        <li> <a class="linkin-link" href="https://brbright.github.io/portfolio/" target="_blank">Billy Bright </a> </li>
        <li> <a class="linkin-link" href="https://melanie0530.github.io/Responsive-Portfolio/" target="_blank">Melanie
            Mok</a></li>
      </ul>
    </div>
  </div>
  <!----// End Three Columns Footer ------->

  <!--------------- Copyright --------------------------->
  <div class="footer-bottom">
    &copy; <a href="https://github.com/BRBright/Project_2" target="_blank">pley.com</a> | Designed by &nbsp&nbsp<a
      href="https://github.com/BRBright" target="_blank">Billy Bright</a>
    &nbsp&nbsp
    <a href="https://github.com/travrodowick" target="_blank">Travis Rodowick</a>
    &nbsp&nbsp
    <a href="https://github.com/CarlLm1" target="_blank">Carl Medina</a>
    &nbsp&nbsp
    <a href="https://github.com/embeutler" target="_blank">Emily Beutler</a>
    &nbsp&nbsp
    <a href="https://github.com/melanie0530" target="_blank">Melanie Mok</a>
    <img class="gitfolio" src="assets/css/github-logo.png" alt="LinkIn Icon" width="70" height="30">

    <br>

    Reference to <a href="yelp.com" target="_blank">yelp.com</a>
  </div>
  <!-- // End Copyrights -->
</div> --}}
>>>>>>> 9bde22bf5ebcaa529b79c85bd78528981c93364c


{{> footer/footer-block}}