{{> header/header-block}}

{{!-- <!------------ QUOTE --------> --}}
<marquee>
  &#129326
  “One cannot think well, love well, sleep well, if one has not dined well.”
  ― Virginia Woolf
  &#129319
  &nbsp&nbsp
  “If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.”
  ― J.R.R. Tolkien
  &#129314
  &nbsp&nbsp
  “After a good dinner one can forgive anybody, even one's own relations.”
  ― Oscar Wilde
  &#128567
  &nbsp&nbsp
  “There is no love sincerer than the love of food.”
  ― George Bernard Shaw
  &#127836
  &nbsp&nbsp
  “If you really want to make a friend, go to someone's house and eat... The people who give you their food give you
  their heart”
  ― Cesar Chavez
  &#127839
  &nbsp&nbsp
  “There's no better feeling in the world thana warm pizza bic on your lap”
  ― Kevin James
  &#127837
  &nbsp&nbsp
  "Chocolate comes from cocoa, whcih is a tree. That makes it a plant. Chocolate is salad"
  &#127843
  &nbsp&nbsp
  "That feeling you get in your stomach when you see food."
  &#127856
  &nbsp&nbsp
  "You can't buy happiness, but you can buy cupcakes, and that's kind of the same thing"
  &#127858
  &nbsp&nbsp
  "I am on a seafood diet. I see food and I wat it"
  &#127857
  &nbsp&nbsp
  "Seize the moment. Remember all those women on the "Titanic" who waved off the dessert cart."
  ― Erma Bombeck
  &nbsp&nbsp
  &#127849
  &nbsp&nbsp
  "Nouvelle Cuisine, roughly translated, means: I can't believe I paid ninety-six dollars and I'm still hungry."
  ― Mike Kalin
  &#127831

</marquee>
<br>

{{!-- <!----- Short Description -----> --}}
<h2 class="description">Search for some of the worst food in Sacramento</h2>

<br>

{{!-- <!-- Search Box Alternative --> --}}

<div id="cover">
  <form method="post" action="search">
    <div class="tb">
      <div class="td">
        <input type="text" id="search-input" placeholder="Search" name="name" required>
      </div>
      <div class="td" id="s-cover">
        {{!-- <!-------- THIS BUTTON SHOULD BE CONNECTED TO THE DATABASE ---------> --}}
        <button id="search">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
  </form>
</div>
</div>

<ul>
  {{#each business}}
  hello world
  {{/each}}
</ul>

{{> footer/footer-block}}