@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
/*********
Background Animation for Banner
*************/

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.master-head {
  box-sizing: inherit;
  size: 1000px;
  background-image: url(https://icon-library.net/images/food-icon-set/food-icon-set-16.jpg);
}

.hero-bkg-animated {
  background-image: url(https://icon-library.net/images/food-icon-set/food-icon-set-16.jpg);
  margin: 0;
  padding-top: 4px;
  box-sizing: border-box;
  -webkit-animation: slide 15s infinite;
  position: static;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

/*****
MAIN header "PLEY" animation 
***/

.loading {
  --flip-1: flip-1 4s ease-in-out infinite;
  --flip-2: flip-2 4s ease-in-out infinite;
  --flip-3: flip-3 4s ease-in-out infinite;
  text-align: center;
  min-width: 575px;
  position: sticky;
}

h1 {
  color: white;
  display: inline-block;
  font-size: 75px;
  border: 9px solid rgb(0, 247, 255);
  font-family: "Concert One", cursive;
  -webkit-text-stroke: 2px blue;
  background: linear-gradient(90deg, grey 10px, lightblue, grey 50px);
  box-shadow: inset 0 0 10px 7px black;
  opacity: 0;
}

h1:nth-child(1) {
  animation: var(--flip-2) 0.375s;
  color: red;
}

h1:nth-child(2) {
  animation: var(--flip-2) 0.25s;
  color: rgb(223, 223, 223);
}

h1:nth-child(3) {
  animation: var(--flip-2) 0.125s;
  color: rgb(223, 223, 223);
}

h1:nth-child(4) {
  animation: var(--flip-2);
  color: rgb(223, 223, 223);
}

h1:nth-child(5) {
  animation: var(--flip-1);
  color: rgb(223, 223, 223);
}

@keyframes flip-1 {
  0% {
    opacity: 1;
    transform-origin: bottom;
    transform: perspective(250px) rotatex(90deg);
    filter: hue-rotate(360deg);
  }
  12.5% {
    transform-origin: bottom;
    transform: perspective(250px) rotatex(0);
    filter: hue-rotate(0);
  }
  90% {
    opacity: 1;
    transform: perspective(250px) rotatex(0);
  }
  100% {
    opacity: 0;
    transform: perspective(250px) rotatex(0);
  }
}

@keyframes flip-2 {
  0% {
    opacity: 1;
    transform-origin: right;
    transform: perspective(250px) rotatey(90deg);
    filter: hue-rotate(360deg);
  }
  12.5% {
    transform-origin: right;
    transform: perspective(250px) rotatey(0);
    filter: hue-rotate(0);
  }
  90% {
    opacity: 1;
    transform: perspective(250px) rotatey(0);
  }
  100% {
    opacity: 0;
    transform: perspective(250px) rotatey(0);
  }
}

@keyframes flip-3 {
  0% {
    opacity: 1;
    transform-origin: left;
    transform: perspective(250px) rotatey(-90deg);
    filter: hue-rotate(360deg);
  }
  12.5% {
    transform-origin: left;
    transform: perspective(250px) rotatey(0);
    filter: hue-rotate(0);
  }
  90% {
    opacity: 1;
    transform: perspective(250px) rotatey(0);
  }
  100% {
    opacity: 0;
    transform: perspective(250px) rotatey(0);
  }
}

/*** page header***/

.page-container {
  display: inline-block;
  align-content: center;
}

.wrap {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pagehead {
  position: relative;
  display: inline-block;
}

.description {
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*** Search bar ***/

/* 
.search-box {
  position: inherit;
  border: 5px;
  border-color: #0d0d0e;
  display: inline-block;
}

.search {
  width: 100%;
  position: inherit;
}

.wrap1 {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: rgb(235, 19, 30);
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(234, 242, 243);
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  text-decoration-color: rgb(228, 17, 45);
  font-size: 20px;
} */

/**** page results list  ****/

.results-container {
  display: inline-block;
  padding: inline 0;
}

.wrap2 {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.list-results {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/*** scrolling banner******/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

marquee {
  font-family: "Concert One", cursive;
  font-size: 18px;
  line-height: 30 px;
  color: white;
}

/*** --- footer --- **/

.footer {
  margin-bottom: 0px;
  background-color: rgba(29, 29, 31, 0.959);
  height: 100px;
  width: 100%;
  bottom: 0;
  display: block;
  text-align: center;
}

.footer .footer-content {
  padding: 30px;
  bottom: 20px;
}

.footer-section {
  padding: 15px;
  height: 300px;
  /* background: rgb(79, 46, 224); */
  background: transparent;
  display: table-cell;
}

.footer-section:last-child {
  /* background: rgb(100, 76, 221); */
  /* background-color: rgba(100, 100, 100, 0.5); */
}

.footer-section:nth-child(2) {
  /* background: rgb(161, 153, 199); */
  /* border-right: solid #7ccfe4 0.1px; */
  /* background-color: rgba(100, 100, 100, 0.5); */
}

.footer-section:nth-child(1) {
  /* background: rgb(161, 153, 199); */
  /* border-right: solid #7ccfe4 0.1px; */
  /* background-color: rgba(100, 100, 100, 0.5); */
}

/* ------- footer column 1 : PPT About This Project------ */

.footer-col1 {
  font-family: "Concert One", cursive;
  font-size: 30px;
  color: white;
  margin: 0px;
  margin-left: 15px;
}

iframe {
  margin-bottom: 5px;
}

#popup {
  font-family: "Concert One", cursive;
  font-size: 15px;
  color: white;
  margin-left: 15px;
  padding: 20px;
}

/* ------- footer column 2 : Contact------ */

.contact {
  width: 30%;
}

.LinkIn {
  font-family: "Concert One", cursive;
  font-size: 30px;
  color: white;
  margin: 0px;
  margin-left: 15px;
}

.linkin-link {
  font-family: "Concert One", cursive;
  font-size: 20px;
  color: white;
  margin-left: 15px;
  padding: 20px;
}

/* Talk Nerdy to Us */

.work-quote {
  font-family: "Strong";
  font-size: 40px;
  margin-left: 55px;
  padding: 20px;
}

/* <!------ Third Column ------> */

.Portfolio-Page {
  font-family: "Concert One", cursive;
  font-size: 30px;
  color: white;
  margin: 0px;
  margin-left: 15px;
}

.gitfolio {
  /* background: 5px white; */
}

/* ----- Copyright Section ------ */

.footer .footer-bottom {
  background: rgb(102, 100, 100);
  color: pink;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 55px;
  margin-bottom: 2px;
}

/* unvisited link */

a:link {
  color: white;
}

/* visited link */

a:visited {
  color: rgb(126, 207, 245);
}

/* mouse over link */

a:hover {
  color: hotpink;
}

/* selected link */

a:active {
  color: lightblue;
}

ul {
  list-style-type: none;
}

.about {
  font-family: "Arial Narrow", sans-serif;
}

/* <!-- Search Box Alternative --> */

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  left: 0;
  right: 0;
  width: 550px;
  padding: 2px;
  margin: -3px auto 0 auto;
  background-color: #495251;
  border-radius: 30px;
  box-shadow: 0 10px 40px #4a6596, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 96px;
}

input[type="text"] {
  width: 90%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
  margin-left: 30px;
}

input[type="text"]::placeholder {
  color: #68e1d7;
}

#s-cover {
  width: 1px;
  padding-left: 20px;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: 0;
  border-width: 15px;
  border: 10px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 30px;
  height: 15px;
  background-color: transparent;
  border-radius: 15px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

/* <!-- // End Search Box Alternative --> */

.content-background {
  background: rgb(76, 76, 87);
  min-height: 100px;
  padding: 50px center;
  width: 75%;
  margin: auto;
}

.review-content {
  margin: 15px;
  color: #ffffff;
  padding: 30px;
  font-family: "Trebuchet MS", Helvetica;
  font-size: 20px;
  margin-right: 14px;
}

.container-tag {
  margin: 10px;
  color: white;
  padding: 30px;
  font-family: "Trebuchet MS", Helvetica;
  font-size: 25px;
  margin-right: 15px;
}

.container-name {
  margin: 15px;
  color: white;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
