{{!-- <!----- Banner and Title -----> --}}
<div class="master-head">
    <div class="hero-bkg-animated">
        <div class="loading">
            <header>
                <h1>*</h1>
                <h1>P</h1>
                <h1>L</h1>
                <h1>E</h1>
                <h1>Y</h1>
            </header>
        </div>
    </div>
</div>